 {%- liquid      
    assign badge_new = ''
    assign product_created_timestamp = product.created_at | date: '%s' | plus: 0
    assign days_in_seconds = 20 | times: 24 | times: 60 | times: 60
    assign current_date_timestamp = "now" | date: '%s'
    assign check_date_timestamp = current_date_timestamp | minus: days_in_seconds

    if product_created_timestamp > check_date_timestamp
        assign badge_new = 'New'
    endif

  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif    

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false    
-%}      

<div class="badges
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
    ">
    {%- if badge_new != '' -%}
        <span class="badge-box"
        data-aos="fade"
        data-aos-delay="{{ aos_delay }}"
        data-aos-duration="{{ aos_duration }}"
        data-aos-anchor="{{ aos_anchor }}">
            {{ badge_new }}
        </span>
    {%- endif -%}
    {%- if show_badges -%}
      <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
        {{ 'products.product.on_sale' | t }}
      </span>

      <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
        {{ 'products.product.sold_out' | t }}
      </span>
    {%- endif -%}    
</div>