{%- style -%}
    .breadcrumbs {
        padding-top: 25px;
        width: 100%;
    }

     .breadcrumbs a {
        text-decoration: none;
        color: inherit;
     }

    .breadcrumbs__arrow {
        padding-left: 5px;
        padding-right: 5px;
    }

    .product .breadcrumbs * {
      text-transform: lowercase;
    }
{%- endstyle -%}

{% assign breadcrumbs_modifier = breadcrumbs_modifier | default: '' %}

{% capture divider_html %}
  <span class="breadcrumbs__arrow">&#47;</span>
{% endcapture %} 

<nav class="breadcrumbs body-xs {{ breadcrumbs_modifier }}">
  <a href="{{ routes.root_url }}">Home</a>

  {{ divider_html }}

  {% if template contains 'product' %}

      {% assign category = '' %}
      {% assign subcategory = '' %}

      {%- for tag in product.tags -%}
          {%- if tag contains 'maincategory:' -%}
              {% assign category = tag | remove: 'maincategory:' | strip %}
          {%- elsif tag contains 'subcategory:' -%}
              {% assign subcategory = tag | remove: 'subcategory:' | strip %}
          {%- endif -%}
      {%- endfor -%}

      {% assign category_collection = '' %}
      {% assign subcategory_collection = '' %}

      <!-- Loop through all collections -->
      {% for collection in collections %}
        {% if collection.title == category %}
          {% assign category_collection = collection %}
        {% elsif collection.title == subcategory %}
          {% assign subcategory_collection = collection %}
        {% endif %}
      {% endfor %}

      {% if category_collection %}
        <a class="cat" href="{{ category_collection.url }}">{{ category_collection.title }}</a>
      {% endif %}

      {% if subcategory_collection %}
        {% assign tag_url = category_collection.url | append: '/' | append: subcategory %}
        {{ divider_html }} <a class="sub" href="{{ tag_url }}">{{ subcategory }}</a>
      {% endif %}

  {%- elsif template contains 'collection' -%}

    <span class="c">{{- collection.title -}}</span>

    {% if current_tags.size > 0 %}
      {{ divider_html }}
      {% assign tag_title = current_tags[0] %}
      <span class="t">{{ tag_title | capitalize }}</span>
    {% endif %}  

  {%- elsif template.name == 'article' -%}

    {{ blog.title | link_to: blog.url }}

    {{ divider_html }}
    <span class="a">{{- page_title -}}</span>

  {% endif %}

</nav>