{%- style -%}
    .breadcrumbs {
        padding-top: 25px;
        padding-top: 25px;
    }

    .breadcrumbs__arrow {
        padding-left: 5px;
        padding-right: 5px;
    }
{%- endstyle -%}

{% assign breadcrumbs_modifier = breadcrumbs_modifier | default: '' %}

{% capture divider_html %}
  <span class="breadcrumbs__arrow">&#47;</span>
{% endcapture %} 

<nav class="breadcrumbs body-xs {{ breadcrumbs_modifier }}">
  <a href="{{ routes.root_url }}">Home</a>

  {{ divider_html }}

  {% if template contains 'product' %}
    {%- if collection -%}
      {{ collection.title | link_to: collection.url }}

      {{ divider_html }}
    {%- endif -%}
  {%- elsif template.name == 'article' -%}
    {{ blog.title | link_to: blog.url }}

    {{ divider_html }}
  {% endif %}

  <span>{{- page_title -}}</span>
</nav>