{%- style -%}
    .breadcrumbs {
        padding-top: 25px;
        width: 100%;
        text-transform: capitalize;
    }

     .breadcrumbs a {
        text-decoration: none;
        color: inherit;
     }

    .breadcrumbs__arrow {
        padding-left: 5px;
        padding-right: 5px;
    }

    .product .breadcrumbs * {
      text-transform: lowercase;
    }
{%- endstyle -%}

{% assign breadcrumbs_modifier = breadcrumbs_modifier | default: '' %}

{% capture divider_html %}
  <span class="breadcrumbs__arrow">&#47;</span>
{% endcapture %} 

<nav class="breadcrumbs body-xs {{ breadcrumbs_modifier }}">
  <a href="{{ routes.root_url }}">Home</a>

  {% if template contains 'product' %}

      {% assign category = '' %}
      {% assign subcategory = '' %}

      {%- for tag in product.tags -%}
          {%- if tag contains 'maincategory:' -%}
              {% assign category = tag | remove: 'maincategory:' | strip %}
          {%- elsif tag contains 'subcategory:' -%}
              {% assign subcategory = tag | remove: 'subcategory:' | strip %}
          {%- endif -%}
      {%- endfor -%}

      {% assign category_collection = '' %}
      {% assign subcategory_collection = '' %}

      <!-- Loop through all collections -->
      {% for collection in collections %}
        {% if collection.title == category %}
          {% assign category_collection = collection %}
        {% elsif collection.title == subcategory %}
          {% assign subcategory_collection = collection %}
        {% endif %}
      {% endfor %}

      {% if category != blank and subcategory != blank %}
        {{ divider_html }}
        <a class="cat" href="{{ category_collection.url }}">{{ category_collection.title }}</a>

        {% assign tag_url = category_collection.url | append: '/' | append: subcategory | replace: ' ', '%20' %}
        {{ divider_html }}
        <span class="sub">{{ subcategory }}</span>


      {% else %}
         {{ divider_html }}
        {% if product.collections.size > 0 %}
          {% assign first_collection = product.collections.first %}
          <a href="{{ first_collection.url }}">{{ first_collection.title }}</a>
        {% else %}
          <span class="sub">{{ product.title }}</span>
        {% endif %}         
      {% endif %}


  {%- elsif template contains 'collection' -%}
    {{ divider_html }}
    <a href="{{ collection.url }}">{{ collection.title }}</a>

    {% if current_tags.size > 0 %}
      {{ divider_html }}
      {% assign tag_title = current_tags[0] %}
      <span class="t">{{ tag_title | capitalize }}</span>
    {% endif %}  

  {%- elsif template.name == 'search' -%}
    {{ divider_html }}
     <span class="t">Search</span>

  {%- elsif template.name == 'article' -%}
    {{ divider_html }}
    {{ blog.title | link_to: blog.url }}

    {{ divider_html }}
    <span class="a">{{- page_title -}}</span>

  {%- elsif template == '404' -%}

    {{ divider_html }}
    <span class="a">{{- page_title -}}</span>  

  {% else %}
    {{ divider_html }}
    <span class="a">{{ page.title }}</span>
  {% endif %}

</nav>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ routes.root_url }}"
    }
    {% if template contains 'product' %}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ category_collection.title }}",
        "item": "{{ category_collection.url }}"
      }
      {% if subcategory_collection %}
        ,{
          "@type": "ListItem",
          "position": 3,
          "name": "{{ subcategory }}",
          "item": "{{ tag_url }}"
        }
      {% endif %}
      ,{
        "@type": "ListItem",
        "position": {% if subcategory_collection %}4{% else %}3{% endif %},
        "name": "{{ product.title }}",
        "item": "{{ product.url }}"
      }
    {% elsif template contains 'collection' %}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ collection.title }}",
        "item": "{{ collection.url }}"
      }
      {% if current_tags.size > 0 %}
        ,{
          "@type": "ListItem",
          "position": 3,
          "name": "{{ tag_title | capitalize }}",
          "item": "{{ collection.url | append: '/' | append: tag_title }}"
        }
      {% endif %}
    {% elsif template.name == 'article' %}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ blog.title }}",
        "item": "{{ blog.url }}"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page_title }}",
        "item": "{{ canonical_url }}"
      }
    {% endif %}
  ]
}
</script>