{{ 'component-card.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign ratio = 1
  if block.settings.image_ratio == 'portrait'
    assign ratio = 0.8
  elsif block.settings.image_ratio == 'adapt'
    assign ratio = block.settings.banner_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = block.settings.color_scheme
-%}

<div class="card-wrapper animate-arrow collection-card-wrapper">
  <a href="{{ block.settings.link }}" class="full-unstyled-link">
    <div class="card card--standard card--media color-{{ card_color_scheme }} gradient" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        <div class="card__inner color-{{ card_color_scheme }} gradient ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
            <div class="card__media">
                <div class="media media--transparent media--hover-effect">
                    <img
                    srcset="
                        {%- if block.settings.banner_image.width >= 165 -%}{{ block.settings.banner_image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 330 -%}{{ block.settings.banner_image | image_url: width: 330 }} 330w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 535 -%}{{ block.settings.banner_image | image_url: width: 535 }} 535w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 750 -%}{{ block.settings.banner_image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 1000 -%}{{ block.settings.banner_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 1500 -%}{{ block.settings.banner_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if block.settings.banner_image.width >= 3000 -%}{{ block.settings.banner_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {{ block.settings.banner_image | image_url }} {{ block.settings.banner_image.width }}w
                    "
                    src="{{ block.settings.banner_image | image_url: width: 1500 }}"
                    sizes=" (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                        (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                        calc(100vw - 3rem)"
                    alt="{{ block.settings.banner_image.alt | escape }}"
                    height="{{ block.settings.banner_image.height }}"
                    width="{{ block.settings.banner_image.width }}"
                    loading="lazy"
                    class="motion-reduce">
                </div>
            </div>
        </div>

            <div class="card__content">
                <div class="card__information">
                    <div class="card__details">
                        <h3 class="card__heading_hs heading-xs">{{- block.settings.title | escape -}}</h3>
                        <p>
                        Explore The Range
                        <span class="icon-wrap">
                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>            
                        </p>
                    </div>
                    {%- if block.settings.link_label != blank -%}
                        <button class="button button--bright-pink ">{{- block.settings.link_label -}}</button>
                    {%- endif -%}
                </div>
            </div>
        
    </div>
  </a>
</div>