<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      {%- liquid
        assign parent_index = forloop.index
        assign has_sub_menu = false
        assign has_mega_menu = false
        assign has_promotion = false
        assign promotion_block_index = false
        assign promotion_blocks = blocks | where: 'type', 'promotion'
        assign mega_menu_block_index = false
        assign mega_menu_blocks = blocks | where: 'type', 'megamenu'
        assign image_block_index = false
        assign has_image = false
        assign image_blocks = blocks | where: 'type', 'image_picker'

        if link.links.size > 0
          assign has_sub_menu = true
        endif

        for block in mega_menu_blocks
          assign position = block.settings.position | plus: 0
          if position == parent_index
            assign has_mega_menu = true
            assign mega_menu_block_index = forloop.index0
          endif
        endfor

        for block in image_blocks
          assign position = block.settings.position | plus: 0
          if position == parent_index
            assign has_image = true
            assign image_block_index = forloop.index0
          endif
        endfor
      -%}
      <li
        role="menuitem"
        class="{{ link.title | handle }} {% if link.title contains 'Sale' %}link-sale{% endif %} {% if has_mega_menu and has_image %}with_megamenu_image {% endif %} {% if has_sub_menu or has_mega_menu or has_image or has_promotion %} menu-item-has-children{% endif %}{% if has_mega_menu %} menu-item-has-megamenu{% endif %}{% if link.active %} active{% endif %}"
        {% if has_sub_menu %}
          data-item-title="{{ link.title | escape }}"
        {% endif %}>

        <a href="{{ link.url }}" {%- if link.active %} aria-current="page"{% endif -%}>
          {{- link.title -}}
        </a> 

            {%- if has_sub_menu == true and has_mega_menu == false and has_image == false -%}
              <div class="sub-menu withsub {%- if has_promotion %} sub-menu--has-promotion{%- endif -%}" tabindex="-1">
                <ul class="sub-menu sub-menu--static">
                  {%- for l in link.links -%}
                    {%- liquid
                      assign has_sub_menu = false
                      assign has_mega_menu = false
                      if l.links.size > 0
                        assign has_sub_menu = true
                      endif
                    -%}
                    <li
                      class="{%- if l.active %}active{% endif %}{% if has_sub_menu %} menu-item-has-children{%- endif -%}"
                      role="none"
                      {% if has_sub_menu %}
                        data-item-title="{{ l.title | escape }}"
                      {% endif %}
                    >
                      <a href="{{ l.url }}" role="menuitem">
                        {{- l.title -}}
                      </a>
                      {%- if has_sub_menu -%}
                        <ul class="sub-menu" role="menu">
                          {%- for sub_link in l.links -%}
                            <li class="{%- if sub_link.active %} active{% endif %}" role="none">
                              <a href="{{ sub_link.url }}" role="menuitem">{{- sub_link.title -}}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

            {%- elsif has_sub_menu == true or has_mega_menu == true or has_image == true -%}
                {%- liquid
                  assign mega_menu_block = blocks[mega_menu_block_index]
                  assign image_blockz = image_blocks[image_block_index]
                  assign megamenu = block.settings.mega_menu_blocks
                -%}
                <div class="sub-menu mega-menu-container" tabindex="-1">

                  {%- if has_mega_menu -%}
                    <div class="mega-menu-wrapper with_mimage">
                      {%- for block in mega_menu_blocks -%}
                        {%- assign position = block.settings.position | plus: 0 -%}
                        {%- if position == parent_index -%}
                          {%- if block.type == 'megamenu' and block.settings.mega_sub_menu != blank -%}
                            {%- assign mega_sub_menu = block.settings.mega_sub_menu -%}

                            <ul class="mega-menu-columns" tabindex="-1">
                              {%- for l in mega_sub_menu.links -%}
                                <li class="{% if l.active %} active{% endif %}" role="none">
                                  <a href="{{ l.url }}" class="mega-menu-columns__heading" role="menuitem">{{ l.title }}</a>
                                  {%- if l.links.size > 0 -%}
                                    <ul role="menu">
                                      {%- for sub_link in l.links -%}
                                        <li class="{% if sub_link.active %} active{% endif %}" role="none">
                                          <a href="{{ sub_link.url }}" role="menuitem">{{ sub_link.title }}</a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}

                          {%- if block.type == 'megamenu' and block.settings.mega_image != blank -%}
                            {%- liquid
                              assign megaimage = block.settings.mega_image | img_url: 'large'
                              assign image_link = block.settings.image_link
                              assign heading = block.settings.image_title | default: ''
                            -%}

                            <div class="mega_image_container">
                              {%- if image_link != null -%}
                                <a href="{{ image_link }}" title="{{ heading | escape }}">
                              {%- endif -%}
                              <div class="mega_image_wrapper">
                                <img src="{{ megaimage }}" alt="{{ heading | escape }}">
                              </div>
                              {%- if heading -%}
                                <div class="full-menu--image-cover">
                                  <p>{{ heading }}</p>
                                </div>
                              {%- endif -%}
                              {%- if image_link != null -%}</a>{%- endif -%}
                            </div>
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}

                  {%- if has_image -%}
                    <div class="menu-image-grid">
                      {%- for block in image_blocks -%}
                        {%- assign position = block.settings.position | plus: 0 -%}
                        {%- if position == parent_index -%}
                          {%- liquid
                            assign image_block = block.settings.image_block | img_url: 'large'
                            assign image_link = block.settings.image_link
                            assign heading = block.settings.image_title | default: ''
                          -%}

                          <div class="full-menu--image">
                            {%- if image_link != null -%}
                              <a href="{{ image_link }}" title="{{ heading | escape }}">
                            {%- endif -%}
                            <div class="full-menu--image-image">
                              <img src="{{ image_block }}" alt="{{ heading | escape }}">
                            </div>
                            {%- if heading -%}
                              <div class="full-menu--image-cover">
                                <p>{{ heading }}</p>
                              </div>
                            {%- endif -%}
                            {%- if image_link != null -%}</a>{%- endif -%}
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}

                  {%- if has_sub_menu -%}
                    <ul class="sub-menu" role="menu">
                        {%- for l in link.links -%}
                          {%- liquid
                            assign has_sub_menu = false
                            assign has_mega_menu = false
                            if l.links.size > 0
                              assign has_sub_menu = true
                            endif
                          -%}
                          <li
                            class="{%- if l.active %}active{% endif %}{% if has_sub_menu %} menu-item-has-children{%- endif -%}"
                            role="none"
                            {% if has_sub_menu %}
                              data-item-title="{{ l.title | escape }}"
                            {% endif %}
                          >
                            <a href="{{ l.url }}" role="menuitem">
                              {{- l.title -}}
                            </a>
                            {%- if has_sub_menu -%}
                              <ul class="sub-menu" role="menu">
                                {%- for sub_link in l.links -%}
                                  <li class="{%- if sub_link.active %} active{% endif %}" role="none">
                                    <a href="{{ sub_link.url }}" role="menuitem">{{- sub_link.title -}}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}                                    
            </div>
          {%- endif -%}
  
      </li>
    {%- endfor -%}
  </ul>
</nav> 
