{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

{%- liquid
  assign empty_search_menu = settings.empty_search_menu
  assign empty_search_product_list = settings.empty_search_product_list
  assign empty_search_product_list_size = empty_search_product_list | map: 'handle' | join: ',' | split: ',' | uniq | size | at_most: 5 | at_least: 3
  assign show_empty_search = false
  assign show_empty_search_menu = false
  assign show_empty_search_product_list = false

  if empty_search_menu != blank
    assign show_empty_search = true
    assign show_empty_search_menu = true
    assign empty_search_product_list_size = empty_search_product_list_size | at_most: 4
  endif

  if empty_search_product_list != blank
    assign show_empty_search = true
    assign show_empty_search_product_list = true
  endif
-%}  

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
        <span class="svg-wrapper">
          {{- 'icon-search-new.svg' | inline_asset_content -}}
        </span>
        <span class="svg-wrapper header__icon-close">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-search-new.svg' | inline_asset_content -}}
              </span>
            </button>
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-reset.svg' | inline_asset_content -}}
              </span>
            </button>
            <button
              type="button"
              class="search-modal__close-button modal__close-button link link--text focus-inset"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-close.svg' | inline_asset_content -}}
              </span>
            </button>            
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

        {%- if show_empty_search -%}
        {%- liquid
          assign animation_delay = 100
          assign animation_duration = 800
        -%}
        <div class="predictive-search predictive-search--empty" data-popular-searches>

            {%- if show_empty_search_menu and show_empty_search_product_list -%}
              <div class="predictive-search__layout predictive-search__results-groups-wrapper">
            {%- endif -%}

              {%- if show_empty_search_menu -%}
                {%- assign animation_delay = animation_delay | plus: 100 -%}
                <div class="predictive-search__column predictive-search__result-group">
                  <p class="predictive-search__heading">{{ 'general.search.popular_searches' | t }}</p>

                  <div class="predictive-search__group">
                    {%- for link in empty_search_menu.links -%}
                      <div class="predictive-search__item">
                        <a class="predictive-search__link" href="{{ link.url }}">{{ link.title }}</a>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}

              {%- if show_empty_search_product_list -%}
                {%- assign animation_delay = animation_delay | plus: 100 -%}
                <div class="predictive-search__column predictive-search__result-group" style="--columns: repeat({{ empty_search_product_list_size }}, minmax(0, 1fr));">
                  <div class="predictive-search__group">
                    <div class="predictive-search__products__list grid-outer">
                      <div class="grid">
                        {%- for product in empty_search_product_list limit: empty_search_product_list_size -%}
                          <li
                            class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                            {% if settings.animations_reveal_on_scroll %}
                              data-cascade
                              style="--animation-order: {{ forloop.index }};"
                            {% endif %}
                          >
                            {% render 'card-product',
                              card_product: product,
                              media_aspect_ratio: section.settings.image_ratio,
                              image_shape: section.settings.image_shape,
                              show_secondary_image: section.settings.show_secondary_image,
                              show_vendor: section.settings.show_vendor,
                              show_rating: section.settings.show_rating,
                              lazy_load: lazy_load,
                              skip_styles: skip_card_product_styles,
                              quick_add: section.settings.quick_add,
                              section_id: section.id
                            %}
                          </li>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}

            {%- if show_empty_search_menu and show_empty_search_product_list -%}
              </div>
            {%- endif -%}
        </div>
        {%- endif -%}            

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
      </div>
    </div>
  </details>
</details-modal>
