{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
<link rel="stylesheet" href="{{ 'component-collection-hero.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'component-collection-hero.css' | asset_url }}"></noscript>

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    
    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
          {%- assign banner_image = collection.metafields.custom.collection_banner -%}

          <img
            srcset="
              {%- if banner_image and banner_image != blank -%}
                {%- if banner_image.width >= 165 -%}{{ banner_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if banner_image.width >= 360 -%}{{ banner_image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if banner_image.width >= 535 -%}{{ banner_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if banner_image.width >= 750 -%}{{ banner_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if banner_image.width >= 1070 -%}{{ banner_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                {%- if banner_image.width >= 1500 -%}{{ banner_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ banner_image | image_url }} {{ banner_image.width }}
              {%- else -%}
                {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ collection.image | image_url }} {{ collection.image.width }}
              {%- endif -%}
            "
            src="{% if banner_image and banner_image != blank %}{{ banner_image | image_url: width: 1728 }}{% else %}{{ collection.image | image_url: width: 1728 }}{% endif %}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 1728px) calc(50vw - 130px), calc(50vw - 55px)"
            alt="{% if banner_image and banner_image != blank %}{{ banner_image.alt | escape }}{% else %}{{ collection.image.alt | escape }}{% endif %}"
            width="{% if banner_image and banner_image != blank %}{{ banner_image.width }}{% else %}{{ collection.image.width }}{% endif %}"
            height="{% if banner_image and banner_image != blank %}{{ banner_image.height }}{% else %}{{ collection.image.height }}{% endif %}"
          >
      </div>
    {%- endif -%}
 
    <div class="collection-hero__text-wrapper page-width">

      {%- render 'breadcrumbs' -%}

      <div class="collection_left">
        <h1 class="collection-hero__title heading-md">
          <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
          {{- collection.title | escape -}}
        </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte body-sm mobile_only">{{ collection.description }}</div>
      {%- endif -%}              

        {% if collection.metafields.custom.sub_collections %}
          <div class="sub-collections">
            <div class="sub-collections-grid">
              {% for sub_collection in collection.metafields.custom.sub_collections.value %}
                <div class="sub-collection-item">
                  <a href="{{ sub_collection.url }}">
                    <div class="sub_collection_image">
                      <img src="{{ sub_collection.image | img_url: '300x300' }}" alt="{{ sub_collection.title }}">
                    </div>
                    <h3 class="body-xs"><strong>{{ sub_collection.title }}</strong></h3>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}      
      </div>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte body-lg desktop_only">{{ collection.description }}</div>
      {%- endif -%}      

    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
